* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body:before {
  content: '';
  display: inline-block;
  background-image: deprecated-webkit-gradient(linear, left top, left bottom, transparent 0, #eeeeee 0, #eeeeee 20%, transparent 20%, transparent 26.66667%, #eeeeee 26.66667%, #eeeeee 46.66667%, transparent 46.66667%, transparent 53.33333%, #eeeeee 53.33333%, #eeeeee 73.33333%, transparent 73.33333%, transparent 80.0%, #eeeeee 80.0%, #eeeeee 100.0%, transparent 100.0%);
  background-image: -webkit-linear-gradient(left, transparent 0, #eeeeee 0, #eeeeee 20%, transparent 20%, transparent 26.66667%, #eeeeee 26.66667%, #eeeeee 46.66667%, transparent 46.66667%, transparent 53.33333%, #eeeeee 53.33333%, #eeeeee 73.33333%, transparent 73.33333%, transparent 80.0%, #eeeeee 80.0%, #eeeeee 100.0%, transparent 100.0%);
  background-image: -moz-linear-gradient(left, transparent 0, #eeeeee 0, #eeeeee 20%, transparent 20%, transparent 26.66667%, #eeeeee 26.66667%, #eeeeee 46.66667%, transparent 46.66667%, transparent 53.33333%, #eeeeee 53.33333%, #eeeeee 73.33333%, transparent 73.33333%, transparent 80.0%, #eeeeee 80.0%, #eeeeee 100.0%, transparent 100.0%);
  background-image: -ms-linear-gradient(left, transparent 0, #eeeeee 0, #eeeeee 20%, transparent 20%, transparent 26.66667%, #eeeeee 26.66667%, #eeeeee 46.66667%, transparent 46.66667%, transparent 53.33333%, #eeeeee 53.33333%, #eeeeee 73.33333%, transparent 73.33333%, transparent 80.0%, #eeeeee 80.0%, #eeeeee 100.0%, transparent 100.0%);
  background-image: -o-linear-gradient(left, transparent 0, #eeeeee 0, #eeeeee 20%, transparent 20%, transparent 26.66667%, #eeeeee 26.66667%, #eeeeee 46.66667%, transparent 46.66667%, transparent 53.33333%, #eeeeee 53.33333%, #eeeeee 73.33333%, transparent 73.33333%, transparent 80.0%, #eeeeee 80.0%, #eeeeee 100.0%, transparent 100.0%);
  background-image: linear-gradient(left, transparent 0, #eeeeee 0, #eeeeee 20%, transparent 20%, transparent 26.66667%, #eeeeee 26.66667%, #eeeeee 46.66667%, transparent 46.66667%, transparent 53.33333%, #eeeeee 53.33333%, #eeeeee 73.33333%, transparent 73.33333%, transparent 80.0%, #eeeeee 80.0%, #eeeeee 100.0%, transparent 100.0%);
  height: 100%;
  left: 0;
  margin: 0 auto;
  max-width: 68em;
  opacity: 0.4;
  position: fixed;
  right: 0;
  width: 100%;
  pointer-events: none;
  z-index: -1;
}
@media screen and (min-width: 20em) {
  body:before {
    background-image: deprecated-webkit-gradient(linear, left top, left bottom, transparent 0, #eeeeee 0, #eeeeee 20%, transparent 20%, transparent 26.66667%, #eeeeee 26.66667%, #eeeeee 46.66667%, transparent 46.66667%, transparent 53.33333%, #eeeeee 53.33333%, #eeeeee 73.33333%, transparent 73.33333%, transparent 80.0%, #eeeeee 80.0%, #eeeeee 100.0%, transparent 100.0%);
    background-image: -webkit-linear-gradient(left, transparent 0, #eeeeee 0, #eeeeee 20%, transparent 20%, transparent 26.66667%, #eeeeee 26.66667%, #eeeeee 46.66667%, transparent 46.66667%, transparent 53.33333%, #eeeeee 53.33333%, #eeeeee 73.33333%, transparent 73.33333%, transparent 80.0%, #eeeeee 80.0%, #eeeeee 100.0%, transparent 100.0%);
    background-image: -moz-linear-gradient(left, transparent 0, #eeeeee 0, #eeeeee 20%, transparent 20%, transparent 26.66667%, #eeeeee 26.66667%, #eeeeee 46.66667%, transparent 46.66667%, transparent 53.33333%, #eeeeee 53.33333%, #eeeeee 73.33333%, transparent 73.33333%, transparent 80.0%, #eeeeee 80.0%, #eeeeee 100.0%, transparent 100.0%);
    background-image: -ms-linear-gradient(left, transparent 0, #eeeeee 0, #eeeeee 20%, transparent 20%, transparent 26.66667%, #eeeeee 26.66667%, #eeeeee 46.66667%, transparent 46.66667%, transparent 53.33333%, #eeeeee 53.33333%, #eeeeee 73.33333%, transparent 73.33333%, transparent 80.0%, #eeeeee 80.0%, #eeeeee 100.0%, transparent 100.0%);
    background-image: -o-linear-gradient(left, transparent 0, #eeeeee 0, #eeeeee 20%, transparent 20%, transparent 26.66667%, #eeeeee 26.66667%, #eeeeee 46.66667%, transparent 46.66667%, transparent 53.33333%, #eeeeee 53.33333%, #eeeeee 73.33333%, transparent 73.33333%, transparent 80.0%, #eeeeee 80.0%, #eeeeee 100.0%, transparent 100.0%);
    background-image: linear-gradient(left, transparent 0, #eeeeee 0, #eeeeee 20%, transparent 20%, transparent 26.66667%, #eeeeee 26.66667%, #eeeeee 46.66667%, transparent 46.66667%, transparent 53.33333%, #eeeeee 53.33333%, #eeeeee 73.33333%, transparent 73.33333%, transparent 80.0%, #eeeeee 80.0%, #eeeeee 100.0%, transparent 100.0%);
  }
}
@media screen and (min-width: 45em) {
  body:before {
    background-image: deprecated-webkit-gradient(linear, left top, left bottom, transparent 0, #eeeeee 0, #eeeeee 9.67742%, transparent 9.67742%, transparent 12.90323%, #eeeeee 12.90323%, #eeeeee 22.58065%, transparent 22.58065%, transparent 25.80645%, #eeeeee 25.80645%, #eeeeee 35.48387%, transparent 35.48387%, transparent 38.70968%, #eeeeee 38.70968%, #eeeeee 48.3871%, transparent 48.3871%, transparent 51.6129%, #eeeeee 51.6129%, #eeeeee 61.29032%, transparent 61.29032%, transparent 64.51613%, #eeeeee 64.51613%, #eeeeee 74.19355%, transparent 74.19355%, transparent 77.41935%, #eeeeee 77.41935%, #eeeeee 87.09677%, transparent 87.09677%, transparent 90.32258%, #eeeeee 90.32258%, #eeeeee 100.0%, transparent 100.0%);
    background-image: -webkit-linear-gradient(left, transparent 0, #eeeeee 0, #eeeeee 9.67742%, transparent 9.67742%, transparent 12.90323%, #eeeeee 12.90323%, #eeeeee 22.58065%, transparent 22.58065%, transparent 25.80645%, #eeeeee 25.80645%, #eeeeee 35.48387%, transparent 35.48387%, transparent 38.70968%, #eeeeee 38.70968%, #eeeeee 48.3871%, transparent 48.3871%, transparent 51.6129%, #eeeeee 51.6129%, #eeeeee 61.29032%, transparent 61.29032%, transparent 64.51613%, #eeeeee 64.51613%, #eeeeee 74.19355%, transparent 74.19355%, transparent 77.41935%, #eeeeee 77.41935%, #eeeeee 87.09677%, transparent 87.09677%, transparent 90.32258%, #eeeeee 90.32258%, #eeeeee 100.0%, transparent 100.0%);
    background-image: -moz-linear-gradient(left, transparent 0, #eeeeee 0, #eeeeee 9.67742%, transparent 9.67742%, transparent 12.90323%, #eeeeee 12.90323%, #eeeeee 22.58065%, transparent 22.58065%, transparent 25.80645%, #eeeeee 25.80645%, #eeeeee 35.48387%, transparent 35.48387%, transparent 38.70968%, #eeeeee 38.70968%, #eeeeee 48.3871%, transparent 48.3871%, transparent 51.6129%, #eeeeee 51.6129%, #eeeeee 61.29032%, transparent 61.29032%, transparent 64.51613%, #eeeeee 64.51613%, #eeeeee 74.19355%, transparent 74.19355%, transparent 77.41935%, #eeeeee 77.41935%, #eeeeee 87.09677%, transparent 87.09677%, transparent 90.32258%, #eeeeee 90.32258%, #eeeeee 100.0%, transparent 100.0%);
    background-image: -ms-linear-gradient(left, transparent 0, #eeeeee 0, #eeeeee 9.67742%, transparent 9.67742%, transparent 12.90323%, #eeeeee 12.90323%, #eeeeee 22.58065%, transparent 22.58065%, transparent 25.80645%, #eeeeee 25.80645%, #eeeeee 35.48387%, transparent 35.48387%, transparent 38.70968%, #eeeeee 38.70968%, #eeeeee 48.3871%, transparent 48.3871%, transparent 51.6129%, #eeeeee 51.6129%, #eeeeee 61.29032%, transparent 61.29032%, transparent 64.51613%, #eeeeee 64.51613%, #eeeeee 74.19355%, transparent 74.19355%, transparent 77.41935%, #eeeeee 77.41935%, #eeeeee 87.09677%, transparent 87.09677%, transparent 90.32258%, #eeeeee 90.32258%, #eeeeee 100.0%, transparent 100.0%);
    background-image: -o-linear-gradient(left, transparent 0, #eeeeee 0, #eeeeee 9.67742%, transparent 9.67742%, transparent 12.90323%, #eeeeee 12.90323%, #eeeeee 22.58065%, transparent 22.58065%, transparent 25.80645%, #eeeeee 25.80645%, #eeeeee 35.48387%, transparent 35.48387%, transparent 38.70968%, #eeeeee 38.70968%, #eeeeee 48.3871%, transparent 48.3871%, transparent 51.6129%, #eeeeee 51.6129%, #eeeeee 61.29032%, transparent 61.29032%, transparent 64.51613%, #eeeeee 64.51613%, #eeeeee 74.19355%, transparent 74.19355%, transparent 77.41935%, #eeeeee 77.41935%, #eeeeee 87.09677%, transparent 87.09677%, transparent 90.32258%, #eeeeee 90.32258%, #eeeeee 100.0%, transparent 100.0%);
    background-image: linear-gradient(left, transparent 0, #eeeeee 0, #eeeeee 9.67742%, transparent 9.67742%, transparent 12.90323%, #eeeeee 12.90323%, #eeeeee 22.58065%, transparent 22.58065%, transparent 25.80645%, #eeeeee 25.80645%, #eeeeee 35.48387%, transparent 35.48387%, transparent 38.70968%, #eeeeee 38.70968%, #eeeeee 48.3871%, transparent 48.3871%, transparent 51.6129%, #eeeeee 51.6129%, #eeeeee 61.29032%, transparent 61.29032%, transparent 64.51613%, #eeeeee 64.51613%, #eeeeee 74.19355%, transparent 74.19355%, transparent 77.41935%, #eeeeee 77.41935%, #eeeeee 87.09677%, transparent 87.09677%, transparent 90.32258%, #eeeeee 90.32258%, #eeeeee 100.0%, transparent 100.0%);
  }
}
@media screen and (min-width: 60em) {
  body:before {
    background-image: deprecated-webkit-gradient(linear, left top, left bottom, transparent 0, #eeeeee 0, #eeeeee 5.08475%, transparent 5.08475%, transparent 6.77966%, #eeeeee 6.77966%, #eeeeee 11.86441%, transparent 11.86441%, transparent 13.55932%, #eeeeee 13.55932%, #eeeeee 18.64407%, transparent 18.64407%, transparent 20.33898%, #eeeeee 20.33898%, #eeeeee 25.42373%, transparent 25.42373%, transparent 27.11864%, #eeeeee 27.11864%, #eeeeee 32.20339%, transparent 32.20339%, transparent 33.89831%, #eeeeee 33.89831%, #eeeeee 38.98305%, transparent 38.98305%, transparent 40.67797%, #eeeeee 40.67797%, #eeeeee 45.76271%, transparent 45.76271%, transparent 47.45763%, #eeeeee 47.45763%, #eeeeee 52.54237%, transparent 52.54237%, transparent 54.23729%, #eeeeee 54.23729%, #eeeeee 59.32203%, transparent 59.32203%, transparent 61.01695%, #eeeeee 61.01695%, #eeeeee 66.10169%, transparent 66.10169%, transparent 67.79661%, #eeeeee 67.79661%, #eeeeee 72.88136%, transparent 72.88136%, transparent 74.57627%, #eeeeee 74.57627%, #eeeeee 79.66102%, transparent 79.66102%, transparent 81.35593%, #eeeeee 81.35593%, #eeeeee 86.44068%, transparent 86.44068%, transparent 88.13559%, #eeeeee 88.13559%, #eeeeee 93.22034%, transparent 93.22034%, transparent 94.91525%, #eeeeee 94.91525%, #eeeeee 100.0%, transparent 100.0%);
    background-image: -webkit-linear-gradient(left, transparent 0, #eeeeee 0, #eeeeee 5.08475%, transparent 5.08475%, transparent 6.77966%, #eeeeee 6.77966%, #eeeeee 11.86441%, transparent 11.86441%, transparent 13.55932%, #eeeeee 13.55932%, #eeeeee 18.64407%, transparent 18.64407%, transparent 20.33898%, #eeeeee 20.33898%, #eeeeee 25.42373%, transparent 25.42373%, transparent 27.11864%, #eeeeee 27.11864%, #eeeeee 32.20339%, transparent 32.20339%, transparent 33.89831%, #eeeeee 33.89831%, #eeeeee 38.98305%, transparent 38.98305%, transparent 40.67797%, #eeeeee 40.67797%, #eeeeee 45.76271%, transparent 45.76271%, transparent 47.45763%, #eeeeee 47.45763%, #eeeeee 52.54237%, transparent 52.54237%, transparent 54.23729%, #eeeeee 54.23729%, #eeeeee 59.32203%, transparent 59.32203%, transparent 61.01695%, #eeeeee 61.01695%, #eeeeee 66.10169%, transparent 66.10169%, transparent 67.79661%, #eeeeee 67.79661%, #eeeeee 72.88136%, transparent 72.88136%, transparent 74.57627%, #eeeeee 74.57627%, #eeeeee 79.66102%, transparent 79.66102%, transparent 81.35593%, #eeeeee 81.35593%, #eeeeee 86.44068%, transparent 86.44068%, transparent 88.13559%, #eeeeee 88.13559%, #eeeeee 93.22034%, transparent 93.22034%, transparent 94.91525%, #eeeeee 94.91525%, #eeeeee 100.0%, transparent 100.0%);
    background-image: -moz-linear-gradient(left, transparent 0, #eeeeee 0, #eeeeee 5.08475%, transparent 5.08475%, transparent 6.77966%, #eeeeee 6.77966%, #eeeeee 11.86441%, transparent 11.86441%, transparent 13.55932%, #eeeeee 13.55932%, #eeeeee 18.64407%, transparent 18.64407%, transparent 20.33898%, #eeeeee 20.33898%, #eeeeee 25.42373%, transparent 25.42373%, transparent 27.11864%, #eeeeee 27.11864%, #eeeeee 32.20339%, transparent 32.20339%, transparent 33.89831%, #eeeeee 33.89831%, #eeeeee 38.98305%, transparent 38.98305%, transparent 40.67797%, #eeeeee 40.67797%, #eeeeee 45.76271%, transparent 45.76271%, transparent 47.45763%, #eeeeee 47.45763%, #eeeeee 52.54237%, transparent 52.54237%, transparent 54.23729%, #eeeeee 54.23729%, #eeeeee 59.32203%, transparent 59.32203%, transparent 61.01695%, #eeeeee 61.01695%, #eeeeee 66.10169%, transparent 66.10169%, transparent 67.79661%, #eeeeee 67.79661%, #eeeeee 72.88136%, transparent 72.88136%, transparent 74.57627%, #eeeeee 74.57627%, #eeeeee 79.66102%, transparent 79.66102%, transparent 81.35593%, #eeeeee 81.35593%, #eeeeee 86.44068%, transparent 86.44068%, transparent 88.13559%, #eeeeee 88.13559%, #eeeeee 93.22034%, transparent 93.22034%, transparent 94.91525%, #eeeeee 94.91525%, #eeeeee 100.0%, transparent 100.0%);
    background-image: -ms-linear-gradient(left, transparent 0, #eeeeee 0, #eeeeee 5.08475%, transparent 5.08475%, transparent 6.77966%, #eeeeee 6.77966%, #eeeeee 11.86441%, transparent 11.86441%, transparent 13.55932%, #eeeeee 13.55932%, #eeeeee 18.64407%, transparent 18.64407%, transparent 20.33898%, #eeeeee 20.33898%, #eeeeee 25.42373%, transparent 25.42373%, transparent 27.11864%, #eeeeee 27.11864%, #eeeeee 32.20339%, transparent 32.20339%, transparent 33.89831%, #eeeeee 33.89831%, #eeeeee 38.98305%, transparent 38.98305%, transparent 40.67797%, #eeeeee 40.67797%, #eeeeee 45.76271%, transparent 45.76271%, transparent 47.45763%, #eeeeee 47.45763%, #eeeeee 52.54237%, transparent 52.54237%, transparent 54.23729%, #eeeeee 54.23729%, #eeeeee 59.32203%, transparent 59.32203%, transparent 61.01695%, #eeeeee 61.01695%, #eeeeee 66.10169%, transparent 66.10169%, transparent 67.79661%, #eeeeee 67.79661%, #eeeeee 72.88136%, transparent 72.88136%, transparent 74.57627%, #eeeeee 74.57627%, #eeeeee 79.66102%, transparent 79.66102%, transparent 81.35593%, #eeeeee 81.35593%, #eeeeee 86.44068%, transparent 86.44068%, transparent 88.13559%, #eeeeee 88.13559%, #eeeeee 93.22034%, transparent 93.22034%, transparent 94.91525%, #eeeeee 94.91525%, #eeeeee 100.0%, transparent 100.0%);
    background-image: -o-linear-gradient(left, transparent 0, #eeeeee 0, #eeeeee 5.08475%, transparent 5.08475%, transparent 6.77966%, #eeeeee 6.77966%, #eeeeee 11.86441%, transparent 11.86441%, transparent 13.55932%, #eeeeee 13.55932%, #eeeeee 18.64407%, transparent 18.64407%, transparent 20.33898%, #eeeeee 20.33898%, #eeeeee 25.42373%, transparent 25.42373%, transparent 27.11864%, #eeeeee 27.11864%, #eeeeee 32.20339%, transparent 32.20339%, transparent 33.89831%, #eeeeee 33.89831%, #eeeeee 38.98305%, transparent 38.98305%, transparent 40.67797%, #eeeeee 40.67797%, #eeeeee 45.76271%, transparent 45.76271%, transparent 47.45763%, #eeeeee 47.45763%, #eeeeee 52.54237%, transparent 52.54237%, transparent 54.23729%, #eeeeee 54.23729%, #eeeeee 59.32203%, transparent 59.32203%, transparent 61.01695%, #eeeeee 61.01695%, #eeeeee 66.10169%, transparent 66.10169%, transparent 67.79661%, #eeeeee 67.79661%, #eeeeee 72.88136%, transparent 72.88136%, transparent 74.57627%, #eeeeee 74.57627%, #eeeeee 79.66102%, transparent 79.66102%, transparent 81.35593%, #eeeeee 81.35593%, #eeeeee 86.44068%, transparent 86.44068%, transparent 88.13559%, #eeeeee 88.13559%, #eeeeee 93.22034%, transparent 93.22034%, transparent 94.91525%, #eeeeee 94.91525%, #eeeeee 100.0%, transparent 100.0%);
    background-image: linear-gradient(left, transparent 0, #eeeeee 0, #eeeeee 5.08475%, transparent 5.08475%, transparent 6.77966%, #eeeeee 6.77966%, #eeeeee 11.86441%, transparent 11.86441%, transparent 13.55932%, #eeeeee 13.55932%, #eeeeee 18.64407%, transparent 18.64407%, transparent 20.33898%, #eeeeee 20.33898%, #eeeeee 25.42373%, transparent 25.42373%, transparent 27.11864%, #eeeeee 27.11864%, #eeeeee 32.20339%, transparent 32.20339%, transparent 33.89831%, #eeeeee 33.89831%, #eeeeee 38.98305%, transparent 38.98305%, transparent 40.67797%, #eeeeee 40.67797%, #eeeeee 45.76271%, transparent 45.76271%, transparent 47.45763%, #eeeeee 47.45763%, #eeeeee 52.54237%, transparent 52.54237%, transparent 54.23729%, #eeeeee 54.23729%, #eeeeee 59.32203%, transparent 59.32203%, transparent 61.01695%, #eeeeee 61.01695%, #eeeeee 66.10169%, transparent 66.10169%, transparent 67.79661%, #eeeeee 67.79661%, #eeeeee 72.88136%, transparent 72.88136%, transparent 74.57627%, #eeeeee 74.57627%, #eeeeee 79.66102%, transparent 79.66102%, transparent 81.35593%, #eeeeee 81.35593%, #eeeeee 86.44068%, transparent 86.44068%, transparent 88.13559%, #eeeeee 88.13559%, #eeeeee 93.22034%, transparent 93.22034%, transparent 94.91525%, #eeeeee 94.91525%, #eeeeee 100.0%, transparent 100.0%);
  }
}

.container {
  max-width: 68em;
  margin-left: auto;
  margin-right: auto;
  margin-left: auto;
  margin-right: auto;
  width: auto;
}
.container:after {
  content: "";
  display: table;
  clear: both;
}

@media screen and (min-width: 20em) {
  .no-sidebars #content {
    width: 100%;
  }
}
@media screen and (min-width: 45em) {
  .no-sidebars #content {
    float: left;
    display: block;
    margin-right: 3.22581%;
    width: 100%;
  }
  .no-sidebars #content:last-child {
    margin-right: 0;
  }
}
@media screen and (min-width: 60em) {
  .no-sidebars #content {
    float: left;
    display: block;
    margin-right: 1.69492%;
    width: 100%;
  }
  .no-sidebars #content:last-child {
    margin-right: 0;
  }
}
@media screen and (min-width: 20em) {
  .one-sidebar.sidebar-second #content {
    width: 100%;
  }
}
@media screen and (min-width: 45em) {
  .one-sidebar.sidebar-second #content {
    float: left;
    display: block;
    margin-right: 3.22581%;
    width: 74.19355%;
  }
  .one-sidebar.sidebar-second #content:last-child {
    margin-right: 0;
  }
}
@media screen and (min-width: 60em) {
  .one-sidebar.sidebar-second #content {
    float: left;
    display: block;
    margin-right: -13.9%;
    width: 79.661%;
    margin-left: 3%;
  }
  .one-sidebar.sidebar-second #content:last-child {
    margin-right: 0;
  }
}
@media screen and (min-width: 20em) {
  .one-sidebar.sidebar-first #content {
    width: 100%;
  }
}
@media screen and (min-width: 45em) {
  .one-sidebar.sidebar-first #content {
    float: left;
    display: block;
    margin-right: 3.22581%;
    width: 74.19355%;
    margin-left: 25.80645%;
  }
  .one-sidebar.sidebar-first #content:last-child {
    margin-right: 0;
  }
}
@media screen and (min-width: 60em) {
  .one-sidebar.sidebar-first #content {
    float: left;
    display: block;
    margin-right: 1.69492%;
    width: 79.66102%;
    margin-left: 36%;
  }
  .one-sidebar.sidebar-first #content:last-child {
    margin-right: 0;
  }
}
@media screen and (min-width: 20em) {
  .two-sidebars #content {
    width: 100%;
  }
}
@media screen and (min-width: 45em) {
  .two-sidebars #content {
    float: left;
    display: block;
    margin-right: 3.22581%;
    width: 48.3871%;
    margin-left: 25.80645%;
  }
  .two-sidebars #content:last-child {
    margin-right: 0;
  }
}
@media screen and (min-width: 60em) {
  .two-sidebars #content {
    float: left;
    display: block;
    margin-right: 1.69492%;
    width: 52.54237%;
    margin-left: 20.33898%;
  }
  .two-sidebars #content:last-child {
    margin-right: 0;
  }
}

@media screen and (min-width: 20em) {
  #sidebar-first {
    width: 100%;
  }
}
@media screen and (min-width: 45em) {
  #sidebar-first {
    float: left;
    display: block;
    margin-right: 3.22581%;
    width: 22.58065%;
    margin-left: -77.41935%;
  }
  #sidebar-first:last-child {
    margin-right: 0;
  }
  .sidebar-first #sidebar-first {
    margin-left: -103.22581%;
  }
}
@media screen and (min-width: 60em) {
  #sidebar-first {
    float: left;
    display: block;
    margin-right: 1.69492%;
    width: 30.64407%;
    margin-left: -74.57627%;
  }
  #sidebar-first:last-child {
    margin-right: 0;
  }
  .sidebar-first #sidebar-first {
    margin-left: -116.9%;
  }
}

@media screen and (min-width: 20em) {
  #sidebar-second {
    width: 100%;
  }
}
@media screen and (min-width: 45em) {
  #sidebar-second {
    float: left;
    display: block;
    margin-right: 3.22581%;
    width: 22.58065%;
    margin-left: 0%;
  }
  #sidebar-second:last-child {
    margin-right: 0;
  }
}
@media screen and (min-width: 60em) {
  #sidebar-second {
    float: left;
    display: block;
    margin-right: 1.69492%;
    width: 30.64407%;
    margin-left: 0%;
  }
  #sidebar-second:last-child {
    margin-right: 0;
  }
}

#footer {
  float: none;
  clear: both;
}

#header,
#footer,
.mission,
.breadcrumb,
.node {
  clear: both;
}

.inner {
  padding: 0;
}

#navigation li {
  list-style-type: none;
  display: inline-block;
}
